/*
Developers: Aaron Pierdon
Date: Feb 24, 2018
Description :

*/
/* 
    Created on : Feb 24, 2018, 8:49:17 AM
    Author     : Aaron
*/


.button{
    -fx-background-color: derive(#000000, 30%);
    -fx-text-fill: derive(#3ee028, 35%);
    
    -fx-border-color: derive(#002100,  21%);
    -fx-border-insets: 2, 2, 2, 2;
}



.VBox{
    -fx-background-color: derive(#000000, 30%);
    -fx-text-fill: derive(#3ee028, 35%);
}

.menu-bar{
    -fx-background-color: derive(#000000, 30%);
    
    -fx-text-fill: derive(#3ee028, 35%);
    
}
.menu-button{
    -fx-background-color: derive(#000000, 30%);
    
    -fx-text-fill: derive(#3ee028, 35%);
}

.label{
    -fx-background-color: transparent;
    -fx-border-color: derive(#222222, 80%);
    -fx-text-fill: derive(#3ee028, 35%);
}

.context-menu{
    
        -fx-background-color: derive(#000000, 30%);
    
    -fx-text-fill: derive(#3ee028, 35%);
}






.list-view{
    
    -fx-background-color: derive(#000000, 20%);
    -fx-text-fill: derive(#3ee028, 35%);
}

.list-cell{
    -fx-background-color: derive(#000000, 30%);
    -fx-text-fill: derive(#3ee028, 35%);
}

.text-field{
    -fx-background-color: derive(#000000, 20%);
    -fx-text-fill: derive(#3ee028, 35%);
    
}



#root{
    -fx-background-color: derive(#000000, 60%);
    
}

#vBoxTaskList{
    -fx-background-color: derive(#4d634a, 20%);
    
}

#vBoxRight{
      -fx-background-color: derive(#4d634a, 20%);

}

#hBoxTop{
      -fx-background-color: derive(#4d634a, 20%);
     
}
